<p id="notice"><%= notice %></p>

<h2>Book</h2>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<hr>

<p>
  This book has <%= pluralize(@book.votes.count, 'vote') %>
<% if @book.votes.any? %> from <%= @book.votes.pluck(:voter_name).join(", ") %> <% end %>
</p>

