<h1>Vote for <%= @book.title %></h1>

<%= form_with(url: vote_book_path, id: @book.id, local: true) do |form| %>

  <div class="field">
    <%= form.label :voter_name %>
    <%= form.text_field :voter_name, id: :voter_name %>
  </div>

  <div class="actions">
    <%= form.submit 'Vote' %>
  </div>
<% end %>

<%= link_to 'Back', books_path %>
